body{
    background-color: #f5f5f5;
}
.conteneur{
    height:100%;
    width:100%;

}

.fond{

    background-image: url('../images/fond2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

.titre{
    font-family: 'Kalam', cursive;
    font-size: 80px;
    color:white;
    text-shadow:0.1em 0.1em 0.9em black, 0 0 0.3em black;

}

.ombres{
    text-shadow:0.1em 0.1em 0.9em black, 0 0 0.3em black;
}

/*Ligne horizontal*/
.hrp{
    width:90%;
    background-color:white;
}

.nav-link{
    font-size: 20px;
}

footer{
    bottom: 0;
}

.form_col {
    display: inline-block;
    margin-right: 15px;
    padding: 3px 0px;
    width: 200px;
    min-height: 1px;
    text-align: right;
}

input {
    padding: 2px;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    outline: none; /* Retire la bordure orange appliquée par certains navigateurs (Chrome notamment) lors du focus des éléments <input> */
}

input:focus {
    border-color: rgba(82, 168, 236, 0.75);
    -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}

.correct {
    border-color: rgba(68, 191, 68, 0.75);
}

.correct:focus {
    border-color: rgba(68, 191, 68, 0.75);
    -webkit-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
    box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}

.incorrect {
    border-color: rgba(191, 68, 68, 0.75);
}

.incorrect:focus {
    border-color: rgba(191, 68, 68, 0.75);
    -webkit-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
    box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}

.tooltip {
    display: none;
    margin-left: 20px;
    padding: 2px 4px;
    border: 1px solid #555;
    background-color: #CCC;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    opacity: 100%;
}

.form-connexion{
    max-width: 400px;
    margin:auto;
}

#logonav {
    margin-top: -25px;
    padding-bottom:0px;
    margin-bottom: -30px; 

}

.categ{
    background-color: #404040;
    border-radius: 5px;
}

.bouton{
    margin-left: 20%;
    margin-right: 20%;
    width:auto;
}

.img-actu{
    width:100px;
}

.logo{
    margin-bottom: -50px;
}

.bouton-design{
    height:30px;
    width:100px;
    background-color: transparent;
    border-color: #fe882a;
    color: #fe882a;
    font-size: 15px;
    text-align: center;
    border: 3px simple #fe882a;
    font-family: 'Baloo Thambi 2', cursive;
}
.bouton-design:hover{
    background-color:#fe882a;
    color:white;
}

.text-orange{
    color:#fe882a;
}

.bg-orange{
    background-color:#fe882a;
}

.navigbar{
    margin-right: 0px;
    font-size: 25px;
    font-family: 'Baloo Thambi 2', cursive;
}

.navig-link{
    color: #fff
}

.navig-link:hover{
    text-decoration:none; 
    border-bottom: 4px solid #fe882a;
    color:#fe882a;
}


/*Bouton menu déroulant*/
.boutonmenuprincipal {
    background-color: #fe882a;
    color: white;
    border: none;
    cursor: pointer;
    padding: 12px;
    max-width: 70px;
    margin:-10px;
}
.boutonmenuprincipal:hover {
    background-color: #ffa862;
}

/*.dropdown-child {
    position: absolute;
    display: none;
    background-color: #5e5e5e;
    min-width: 50px;
    margin-left:-1em;
}

.dropdown-child a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #535353;
}
.dropdown-child a:hover {
    background-color: #fe882a;
}

.dropdown:hover .dropdown-child {
    display: block;
}*/




.zoom {
    background-color: green;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    filter: contrast(35%);
}

.zoom:hover info{
    box-shadow:0 0 5px #fff;
}





.hovereffect {
    width:700px;
    height:460px;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}

.hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}

.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}

.hovereffect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:25px;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:20px;
}

.hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin-top:130px;
    margin-bottom: auto;
    padding:10px 50px;
}

.hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
}

.bg-grey{
    background-color: #ccc;
}

.important{
    color: red;
    font-weight: bold;
}
.alert-success, .alert-danger, .alert-warning , .alert-info{
    position:static;
}
@media (max-width: 720px) {
    .dropdown-menu-center {
        right: auto;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}
.dropdown-item:hover{
    background-color:  #fe882a;
    color: white;
    font-family: 'Baloo Thambi 2', cursive;

}

.lien_neutre{
    color:black;
    text-decoration: none;
}
.lien_neutre:hover {
    color:#fe882a;
    text-decoration: none;
}

#en_cours{
    text-decoration:none; 
    border-bottom: 4px solid #fe882a;
    color:#fe882a;
}
