
.conteneur{
    height:100%;
    width:100%;

}

.fond{

    background-image: url('../images/fond2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 150px;
    padding-bottom: 150px;

}

.titre{
    font-family: 'Kalam', cursive;
    font-size: 80px;
    color:white;
    text-shadow:0.1em 0.1em 0.9em black, 0 0 0.3em black;

}

.ombres{
    text-shadow:0.1em 0.1em 0.9em black, 0 0 0.3em black;
}

/*Ligne horizontal*/
.hrp{
    width:90%;
    background-color:white;
}

.nav-link{
    font-size: 20px;
}

footer{
    bottom: 0;
}